:root{
  --my-color:blue;
  /* --my-property:color; */
  --my-margin-left:32px;
}

/* body{
  --my-color:blue;
} */

h1{
  color: var(--my-color);
  border-bottom: 3px solid var(--my-color);
  margin-left:var(--my-margin-left) ;
}


body{
  background: hsl(100, 40%, 95%);
}

h2,p{
  color: hsl(100, 35%, 55%);
}
.btn{
  color: #fff;
  width: 100px;
  padding:8px;
  border-radius: 4px;
  text-align: center;
  background: hsl(100 , 50%, 50%);
}