:root{
  --my-color:blue;
  /* --my-property:color; */
  --my-margin-left:32px;
}

/* body{
  --my-color:blue;
} */

h1{
  color: var(--my-color);
  border-bottom: 3px solid var(--my-color);
  margin-left:var(--my-margin-left) ;
}

p{
  color: var(--my-color);
}